.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-family: 'OpenSans-Regular';
}

body a {
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

header .top_header {
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10000;
  height: 100px;
  overflow: hidden;
}

header .top_header .logo {
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
}

header .top_header .logo a {
  font-family: "Lobster_1_4";
  font-size: 43px;
  color: #44c0c2;
}

header .top_header .menu {
  float: right;
}

header .top_header .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header .top_header .menu ul li {
  display: inline-block;
  padding-top: 33px;
}

header .top_header .menu ul li:hover {
  background-color: #f8f9fb;
}

header .top_header .menu ul li a {
  font-size: 15px;
  line-height: 24px;
  color: #484c55;
  font-family: #44c0c2;
  padding: 42px 20px;
}

header .top_header .menu ul li a:hover {
  border-bottom: 3px solid #44c0c2;
  background-color: #f8f9fb;
}

.slider {
  background: url("../img/bg_header.jpg") no-repeat top center;
  background-size: cover;
  min-height: 579px;
  position: static;
  top: 0;
  left: 0;
  right: 0;
}

.slider .owl-carousel {
  padding-top: 135px;
  text-align: center;
}

.slider .owl-carousel .items {
  color: #fff;
  text-align: center;
  display: inline-block;
}

.slider .owl-carousel .items .main_heading {
  font-size: 63px;
  padding-bottom: 30px;
}

.slider .owl-carousel .items .heading_text {
  font-size: 23px;
  padding-bottom: 40px;
}

.slider .owl-carousel .items .heading_text span {
  display: block;
}

.slider .owl-carousel .items button {
  border: 3px solid #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: transparent;
  padding: 20px 40px;
  height: 70px;
  width: 230px;
}

.slider .owl-carousel .items button a {
  font-size: 26px;
  color: #fff;
  line-height: 24px;
}

.slider .owl-carousel .owl-buttons .owl-prev {
  left: 0;
}

.slider .owl-carousel .owl-buttons .owl-prev:before {
  position: absolute;
  content: "\f104";
  font-family: FontAwesome;
  color: #44c0c2;
  font-size: 60px;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  line-height: 45px;
  left: 0px;
  top: 270px;
}

.slider .owl-carousel .owl-buttons .owl-next:after {
  position: absolute;
  content: "\f105";
  font-family: FontAwesome;
  translateX: 180deg;
  color: #44c0c2;
  font-size: 60px;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  line-height: 45px;
  right: 0px;
  top: 270px;
}

.team .top_text_team {
  padding-top: 100px;
  padding-bottom: 130px;
  font-size: 42px;
  line-height: 24px;
  text-align: center;
  color: #4e525d;
}

.team .teammate {
  width: 24%;
  display: inline-block;
  text-align: center;
}

.team .teammate .photo {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #eeeef0;
  margin: 0 auto;
}

.team .teammate .name {
  padding-top: 70px;
  padding-bottom: 10px;
  font-size: 22px;
}

.team .teammate .job {
  font-size: 14px;
  padding-bottom: 30px;
}

.team .teammate .text {
  font-size: 14px;
  padding-bottom: 110px;
}

.service {
  background-color: #f1f1f1;
  padding-top: 120px;
}

.service .service_item {
  width: 32%;
  display: inline-block;
  text-align: center;
}

.service .service_item:first-child {
  float: left;
  padding-right: 2%;
}

.service .service_item:last-child {
  float: right;
  padding-left: 2%;
}

.service .service_item .top_text_serv {
  background-color: #485460;
  height: 75px;
  line-height: 75px;
  color: #fff;
  font-size: 26px;
}

.service .service_item .price {
  background-color: #f8f9fb;
  height: 75px;
  line-height: 75px;
  color: #485460;
  font-size: 26px;
  border-bottom: 1px solid #ecf0f1;
}

.service .service_item .about_serv {
  background-color: #fff;
  height: 46px;
  line-height: 46px;
  color: #8c9299;
  font-size: 14px;
  border-bottom: 1px solid #ecf0f1;
}

.service .service_item .button {
  height: 100px;
  background-color: #f8f9fb;
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 100px;
}

.service .service_item .button button {
  margin-top: 30px;
  padding: 15px 55px;
  color: #fff;
  font-size: 17px;
  background-color: #485460;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none;
}

.service .service_item .button button:hover {
  background-color: #44c0c2;
}

.contact {
  background: url("../img/bd_footer.jpg") no-repeat top center;
  background-size: cover;
  min-height: 688px;
  position: static;
  top: 0;
  left: 0;
  right: 0;
}

.contact .contact_top_text {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 42px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.contact .cont_left {
  color: #fff;
  width: 48%;
  display: inline-block;
  padding-left: 2%;
}

.contact .cont_left .contact_left_text {
  font-size: 24px;
  padding-left: 25px;
}

.contact .cont_left .contact_text {
  font-size: 14px;
  width: 85%;
  padding-top: 20px;
  padding-bottom: 35px;
}

.contact .cont_left .social_icon a {
  list-style: none;
  display: inline-block;
  padding-bottom: 20px;
  padding-right: 15px;
}

.contact .cont_left .social_icon a i {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #3b5997;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.contact .cont_left .social_icon a .fa-twitter {
  background-color: #3ec2f3;
}

.contact .cont_left .social_icon a .fa-google-plus {
  background-color: #e44c41;
}

.contact .cont_left .contact_foot_text {
  font-size: 14px;
  color: #bface2;
}

.contact .cont_left .contact_foot_text span {
  display: block;
}

.contact .cont_right {
  width: 50%;
  float: right;
}

.contact .cont_right input {
  width: 42%;
  display: inline-block;
  -webkit-border-radius: 2px solid #fff;
          border-radius: 2px solid #fff;
  outline: none;
  list-style: none;
  height: 44px;
  font-size: 14px;
  padding-left: 4%;
  margin-bottom: 30px;
}

.contact .cont_right input:first-child {
  margin-right: 4.2%;
}

.contact .cont_right textarea {
  width: 93.5%;
  height: 180px;
  font-size: 14px;
  padding-top: 25px;
  padding-left: 4%;
  margin-bottom: 30px;
}

.contact .cont_right button {
  padding: 20px 65px;
  color: #fff;
  background-color: #44c0c2;
  font-size: 22px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 3px solid #44c0c2;
  float: right;
  margin-right: 1.9%;
}
