$blue: #44c0c2
$black: #485460

.container
	max-width: 1170px
	margin: 0 auto
body
	margin: 0 auto
	padding: 0
	position: relative
	font-family: 'OpenSans-Regular'
	a
				text-decoration: none
				&:hover
					text-decoration: none
header
	.top_header
		top: 0
		left: 0
		background: #fff
		z-index: 10000
		height: 100px
		overflow: hidden
		.logo
			padding-left: 10px
			padding-top: 25px
			padding-bottom: 25px
			display: inline-block
			a
				font-family: "Lobster_1_4"
				font-size: 43px
				color: $blue
		.menu
			float: right
			ul
				padding: 0
				margin: 0
				list-style: none
				li
					display: inline-block
					padding-top: 33px
					&:hover
						background-color: #f8f9fb
					a
						font-size: 15px
						line-height: 24px
						color: #484c55
						font-family: $blue
						padding: 42px 20px
						&:hover
							border-bottom: 3px solid $blue
							background-color: #f8f9fb

.slider
	background: url("../img/bg_header.jpg") no-repeat top center
	background-size: cover
	min-height: 579px
	position: static
	top: 0
	left: 0
	right: 0
	.owl-carousel
		padding-top: 135px
		text-align: center
		.items
			color: #fff
			text-align: center
			display: inline-block
			.main_heading
				font-size: 63px
				padding-bottom: 30px
			.heading_text
				font-size: 23px
				padding-bottom: 40px
				span
					display: block
			button
				border: 3px solid #fff
				border-radius: 5px
				background: transparent
				padding: 20px 40px
				height: 70px
				width: 230px
				a
					font-size: 26px
					color: #fff
					line-height: 24px
		.owl-buttons
			.owl-prev
				left: 0
				&:before
					position: absolute
					content: "\f104"
					font-family: FontAwesome
					color: $blue
					font-size: 60px
					height: 50px
					width: 50px
					border-radius: 50%
					background-color: #fff
					line-height: 45px
					left: 0px
					top: 270px
			.owl-next
				&:after
					position: absolute
					content: "\f105"
					font-family: FontAwesome
					translateX: 180deg
					color: $blue
					font-size: 60px
					height: 50px
					width: 50px
					border-radius: 50%
					background-color: #fff
					line-height: 45px
					right: 0px
					top: 270px
.team
	.top_text_team
		padding-top: 100px
		padding-bottom: 130px
		font-size: 42px
		line-height: 24px
		text-align: center
		color: #4e525d
	.teammate
		width: 24%
		display: inline-block
		text-align: center
		.photo
			width: 200px
			height: 200px
			border-radius: 50%
			background-color: #eeeef0
			margin: 0 auto
		.name
			padding-top: 70px
			padding-bottom: 10px
			font-size: 22px
		.job
			font-size: 14px
			padding-bottom: 30px
		.text
			font-size: 14px
			padding-bottom: 110px

.service
	background-color: #f1f1f1
	padding-top: 120px
	.service_item
		width: 32%
		display: inline-block
		text-align: center
		&:first-child
			float: left
			padding-right: 2%
			p
		&:last-child
			float: right
			padding-left: 2%
		.top_text_serv
			background-color: $black
			height: 75px
			line-height: 75px
			color: #fff
			font-size: 26px
		.price
			background-color: #f8f9fb
			height: 75px
			line-height: 75px
			color: $black
			font-size: 26px
			border-bottom: 1px solid #ecf0f1
		.about_serv
			background-color: #fff
			height: 46px
			line-height: 46px
			color: #8c9299
			font-size: 14px
			border-bottom: 1px solid #ecf0f1
		.button
			height: 100px
			background-color: #f8f9fb
			border-bottom: 1px solid #ecf0f1
			padding-bottom: 100px
			button
				margin-top: 30px
				padding: 15px 55px
				color: #fff
				font-size: 17px
				background-color: $black
				border-radius: 5px
				border: none
				&:hover
					background-color: $blue

.contact
	background: url("../img/bd_footer.jpg") no-repeat top center
	background-size: cover
	min-height: 688px
	position: static
	top: 0
	left: 0
	right: 0
	.contact_top_text
		padding-top: 100px
		padding-bottom: 100px
		font-size: 42px
		line-height: 24px
		text-align: center
		color: #fff
	.cont_left
		color: #fff
		width: 48%
		display: inline-block
		padding-left: 2%

		.contact_left_text
			font-size: 24px
			padding-left: 25px
		.contact_text
			font-size: 14px
			width: 85%
			padding-top: 20px
			padding-bottom: 35px
		.social_icon
			a
				list-style: none
				display: inline-block
				padding-bottom: 20px
				padding-right: 15px
				i
					height: 40px
					width: 40px
					border-radius: 50%
					background-color: #3b5997
					text-align: center
					line-height: 40px
					color: #fff
				.fa-twitter
					background-color: #3ec2f3
				.fa-google-plus
					background-color: #e44c41
		.contact_foot_text
			font-size: 14px
			color: #bface2
			span
				display: block
	.cont_right
		width: 50%
		float: right
		input
			width: 42%
			display: inline-block
			border-radius: 2px solid #fff
			outline: none
			list-style: none
			height: 44px
			font-size: 14px
			padding-left: 4%		
			margin-bottom: 30px	
			&:first-child
				margin-right: 4.2%
		textarea
			width: 93.5%
			height: 180px
			font-size: 14px
			padding-top: 25px
			padding-left: 4%
			margin-bottom: 30px
		button
			padding: 20px 65px
			color: #fff
			background-color: $blue
			font-size: 22px
			border-radius: 4px
			border: 3px solid $blue
			float: right
			margin-right: 1.9%










					
					